/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  scroll-behaviour: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Navigation Bar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #2f0000;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #fff4e6;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #be9b7b;
}

/* Sections */
section {
    height: 100vh; /* Full viewport height */
    padding: 80px 20px 20px; /* Top padding to prevent content from being hidden by navbar */
    box-sizing: border-box;
    display: flex;
    align-items: flex-start; /* Align content to the top */
    justify-content: flex-start;
    flex-direction: column;
}

section h2 {
  margin-bottom: 20px;
}

/* Cytoscape Container Styling */
#cy {
  width: 100%;
  height: 100vh; /* Full viewport height */
  border: 1px solid #ccc;
  margin-top: 20px;
}

/* Optional: Add some spacing at the bottom */
footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: #fff;
}

section:nth-child(even) {
  background-color: #fff4e6;
  color: #3c2f2f;
}

section:nth-child(odd) {
  background-color: #3c2f2f;
  color: #fff4e6;
}